<h1><%= @task.title %></h1>

<%= button_to "Edit this task", edit_path(@task), method: :get %>

<p><%= @task.details %></p>

<p>
  <% if @task.completed == true%>
    <%= "[x] This task is completed" %>
  <% else %>
    <%= "[ ] This task is not completed yet" %>
  <% end %>
</p>

<p><%= link_to "Back to list", tasks_path %></p>
<p><%= link_to "Delete", task_path(@task), method: :delete, data: { confirm: 'Are you sure?' } %></p>

